#topbox{
    margin-top: 0;
    position: absolute;
}
#theBankDiv{
    background-color: lightgrey;
    width: 25%;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
    height: 250px;
    border: solid black;
    border-radius: 10px;
}

#workDiv{
    background-color: lightgrey;
    width: 25%;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
    height: 250px;
    border: solid black;
    border-radius: 10px;
}

#laptopsDiv{
    background-color: lightgrey;
    width: 25%;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
    height: 250px;
    border: solid black;
    border-radius: 10px;
}

#bottomBox{
    position: absolute;
    margin-top: 300px;
    width: 50%;
    alignment: center;

    margin-left: 25%;
    margin-right: 25%;

}

#buyLaptopDiv{
    position: relative;
    background-color: lightgrey;
    height: 250px;
    border: solid black;
    border-radius: 10px;
}

#image{
    width: 150px;
    height: 150px;
    margin-left: 25px;
    margin-top: 25px;
}

#buyLaptopBtn{
    width: 75px;
    height: 35px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 75px;
    margin-right: 30px;
    background-color: deepskyblue;
    border-color: black;
    border-radius: 10px;
    font-weight: bold;
}

#title{
    margin-top: 40px;
    position: absolute;
    margin-left: 35%;
    font-size: x-large;
}

#description{
    position: absolute;
    margin-left: 35%;
    margin-top: 70px;
    font-size: large;
    max-width: 200px;
}

#price{
    position: absolute;
    right: 0;
    margin-top: 100px;
    margin-right: 30px;
    font-size: large;
    font-weight: bold;
}

#getALoanBtn{
    width: 95px;
    height: 35px;
    position: absolute;
    margin-top: 73px;
    margin-left: 10px;
    background-color: mediumspringgreen;
    border-color: black;
    border-radius: 10px;
    font-weight: bold;
}

#workBtn{
    width: 95px;
    height: 35px;
    position: absolute;
    margin-top: 100px;
    margin-left: 10px;
    background-color: dodgerblue;
    border-color: black;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 130px;
}

#bankBtn{
    width: 95px;
    height: 35px;
    position: absolute;
    margin-top: 100px;
    margin-left: 10px;
    background-color: yellow;
    border-color: black;
    border-radius: 10px;
    font-weight: bold;
}

#repayLoanFromPayBtn{
    width: 95px;
    height: 35px;
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
    background-color: mediumpurple;
    border-color: black;
    border-radius: 10px;
    font-weight: bold;
}